## INSTALL
# pip install -r requirements/requirements.txt --upgrade

# pip install pipreqs && pipreqs .
discord.py==1.7.3
requests==2.32.2
schedule==1.1.0
python-ibc>=0.2.0
discord_webhook
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability